<!DOCTYPE html>
<html lang="en">
<head>
  <title>멤버 소개</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>이름</B></td>
            <td><B>소개</B></td>
            <td><B>사는 지역</B></td>
            <td><B>넘버</B></td>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
        <tr>
            <td>{{member.name}}</td>
            <td>{{member.introduction}}</td>
            <td>{{member.area}}</td>
            <td>{{member.party_number}}번</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>